<p>Hola!</p>
<br>
<p>La teoría <%= @post.title %> ha sido <b>rechazada</b>.</p> 
<h3>Ganaste <%= @post.points %></h3>
<br>
<p>Entra ahora a <a href="http://www.juegodeteorias.com">Juego de Teorías</a> para ver tu puntaje!<p>
<br>
<p>Un saludo y felicitaciones!</p>