<h1 class="bigtitle mrrobot red">Mr robot</h1>

<div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Oc-AsN7d1wg"></iframe> </div>

<div id="main_div" class="col-md-10 col-md-offset-1">
<h2 class="mrrobot red">No confirmadas</h2>
<% @posts.each do|post|%>
<% if post.id_status == 1 || post.id_status == 4%>
<%= render :partial => "/shared/post_titles", :locals => {:post => post} %>
<% end %>
<%end%>


<h2 class="mrrobot red">Confirmadas</h2>
<% @posts.each do|post|%>
<% if post.id_status == 2%>
<%=render :partial => "/shared/post_titles", :locals => {:post => post}%>
<% end %>
<%end%>

<h2 class="mrrobot red">Rechazadas</h2>
<% @posts.each do|post|%>
<% if post.id_status == 3%>
<%= render :partial => "/shared/post_titles", :locals => {:post => post}%>
<% end %>
<%end%>

</div>