<h2>Premios</h2>
<% if current_user.points > 199999 %>
<h3>Whoa!! Ya tienes másd de 200.000? Ve a <%= link_to "Contactos", "contacts/new"%> y envianos un mensaje. Te responderemos con las instrucciones. <h3>
<%else%>	
<h3>Llega a los <strong>200.000</strong> puntos para poder escribir tus propios artículos!</h3>
<h3>Cuando los obtengas ingresa en esta pantalla que apareceran las instrucciones a seguir.</h3>
<% end%>
<br>
<h2>¿Cómo obtengo más puntos?</h2>
<h3>Existen dos formas básicas para conseguir más puntos. La primera es votando sobre cualquier artículo, ya sea voto positivo o negativo, se generará 100 puntos a tu favor.</h3>
<h3> La segunda forma es más complicada pero por lo cual se obtiene mayor cantidad de puntos. Y es que un artículo cambie de estado y el usuario haya votado a favor de ese cambio. Por ejemplo, si  has votado a favor para que se cumpla una teoría y esa teoría cambia de estado a "CONFIRMADO" obtendrás una recompensa muy buena recompensa!!  <h3>
<h3>Si votaste negativamente para un artículo y el artículo pasa a estado "RECHAZADO" también recibirás una gran suma de puntos!</h3>
</div>
