@font-face {

	font-family: 'Mrrobot';
  src:url('assets/fonts/MR_ROBOT.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {

	font-family: 'got';
  src:url('Game of Thrones.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  
  font-family: 'twd';
  src:url('Dead Kansas.ttf');  
  font-weight: normal;
  font-style: normal;

}

@font-face {
  
  font-family: 'vikings';
  src:url('VikingsFont.ttf');  
  font-weight: normal;
  font-style: normal;

}

.mrrobot{
	font-family: 'Mrrobot';
}

.got{
	font-family: 'got';
}

.twd{
  font-family: 'twd';
}

.vikings{
  font-family:'vikings'
}