@font-face {

	font-family: 'Mrrobot';
  src:font-url('MR_ROBOT.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {

	font-family: 'got';
  src:url('Game of Thrones.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  
  font-family: 'twd';
  src:url('Dead Kansas.ttf') format("truetype");  
  font-weight: normal;
  font-style: normal;

}

@font-face {
  
  font-family: 'vikings';
  src:font-url('VikingsFont.ttf') format("truetype");  
  font-weight: normal;
  font-style: normal;

}

.mrrobot{
	font-family: 'Mrrobot';
}

.got{
	font-family: 'got';
}

.twd{
  font-family: 'twd';
}

.vikings{
  font-family:'vikings'
}