.center-table {
 margin: 0 auto !important;
  float: none !important;
  margin-top: 3em;

  i{
  	padding: 0.2em;
  	font-size: 60px;
  }
}  

.center-title{
	color: $dark;
	font-family: 'Alegreya Sans SC', sans-serif;

}

.show_div{

	p {
		font-size: 2rem;
		font-family: 'Alegreya Sans SC', sans-serif;
		}

		.mrrobot_font{
	font-family: 'Courier New';
	font-size: 17px;
}
}
.vote{
	text-align: center;
	padding: 1em;

}

.links{
	text-align: center;
	font-size: 30px;
	padding: 1em;
	border-top: 2px solid $line;
	a{
		padding: 0.7em;
	}
}

.status_div{
	
	float: right;
	p{
		font-size:25px;
	}
}

.content-div{
	margin-top:1em;
	p{
		padding: 0.5em;
	}

	iframe{
		padding: 1em;
	}

	img{
		display: block;
    margin-left: auto;
    margin-right: auto;
	}
}




