.center-table {
 margin: 0 auto !important;
  float: none !important;
  margin-top: 3em;

  i{
  	padding: 0.2em;
  	font-size: 80px;
  }
}  

.center-title{
	color: $dark;
	font-family: 'Alegreya Sans SC', sans-serif;
	margin: 1em;
}
