//@import 'normalize-rails/normalize';
@import "bootstrap-sprockets";
@import "bootstrap";	
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-social";


$black: #000000;
$dark: #424652;
$light: #9a9da4;
$line: #E9E9E9;
$a_confirmar: #845422;
$background_div: #FFFFFF;
$body_div: #ffba00;

*{
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.clearfix:after{
	clear:both;
}

.wrapper{
	width: 95%;
	display: flex;
	margin: 0 auto;
	border-bottom: 1px solid $line;
}

body{
	//background-color: $black;
}


.div_body{

	//margin-right: 25em;
	//margin-left: 25em;
	background-color: $background_div;

	#main_navigation {
		padding: 20px 20px 0px 20px;


		h1{
				text-align:center;
				font-size: 4em;
				font-family: 'Alegreya Sans SC', sans-serif;
				margin-top:0.5em;
				margin-bottom: 1em;
			}

		nav {

			border-bottom: 2px solid $line;
			a {
				font-size: 2rem;
				text-decoration: none;
				color: $dark;
				margin: 0 0.5rem;
				font-family: 'Alegreya Sans SC', sans-serif;
					&:hover{
						font-weight: bold;
						//border-bottom: 2px solid $dark;
					}
				}

				.navbar-nav {
    				width: 100%;
    				text-align: center;

		     li {
		      float: none;
		      display: inline-block;
		    }
  			}
			}
		}

		#main_div {
			//padding-left: 20px;
			//padding-right: 20px;
			padding-bottom:5em;
			p {
				font-size: 2rem;
				font-family: 'Alegreya Sans SC', sans-serif;
			}

		}
}

.login {

	float: right;
	margin-right: 0.2em;
	margin-top: 0.5em;
}

#main_footer{
		padding: 2.5em 5%;
		text-align:center;
		font-weight: bold;
		border-top: 2px solid $line;

		}

.navbar-default{
background-color: white;
border-color:white;

}		


h1{
	font-family: 'Alegreya Sans SC', sans-serif;
}

h2{
	font-family: 'Alegreya Sans SC', sans-serif;
}

.alert{

	margin-top:1rem;
	text-align: center;
}

.bigtitle{

	text-align:center;
	font-size: 7rem;
	margin-bottom: 0.5em;
}

.vcenter2{
margin-top: 1em;
}

@import 'home';
@import 'auth';
@import 'show_post';
@import 'dashboard';
@import 'fonts';